[submodule "3rdparty/libbpg"]
	path = 3rdparty/libbpg
	url = https://github.com/nyfair/libbpg.git
[submodule "plugin/FIShellExt"]
	path = plugin/FIShellExt
	url = https://github.com/nyfair/sentire-thumb.git
